html,body,#app,.el-container {
  /* 设置内部填充为0，几个布局元素之间没有间距 */
  padding: 0px;
    /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
  background-color: #f1f3f7;
}

.header-fold {
  text-align: left;
  font-size: 24px;
}

.screenfull {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top:  10px;
  right: 150px;
}

.refresh {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top:  10px;
  right: 80px;
}